<%= form_with(model: def_integral_computation) do |form| %>
  <% if def_integral_computation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(def_integral_computation.errors.count, "error") %> prohibited this def_integral_computation from being saved:</h2>

      <ul>
        <% def_integral_computation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lower_bound %>
    <%= form.text_field :lower_bound %>
  </div>

  <div class="field">
    <%= form.label :upper_bound %>
    <%= form.text_field :upper_bound %>
  </div>

  <div class="field">
    <%= form.label :expression %>
    <%= form.text_field :expression %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
