<%= form_with(model: tangent_computation) do |form| %>
  <% if tangent_computation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tangent_computation.errors.count, "error") %> prohibited this tangent_computation from being saved:</h2>

      <ul>
        <% tangent_computation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :point %>
    <%= form.text_field :point %>
  </div>

  <div class="field">
    <%= form.label :expression %>
    <%= form.text_field :expression %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
