<p id="notice"><%= notice %></p>

<h1>Trig Computations</h1>

<table>
  <thead>
    <tr>
      <th>Function</th>
      <th>Expression</th>
      <th>Radians</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trig_computations.each do |trig_computation| %>
      <tr>
        <td><%= trig_computation.function %></td>
        <td><%= trig_computation.expression %></td>
        <td><%= trig_computation.radians %></td>
        <td><%= link_to 'Show', trig_computation %></td>
        <td><%= link_to 'Edit', edit_trig_computation_path(trig_computation) %></td>
        <td><%= link_to 'Destroy', trig_computation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trig Computation', new_trig_computation_path %>
