<p id="notice"><%= notice %></p>

<p>
  <strong>Expression:</strong>
  <%= @zeroes_computation.expression %>
</p>

<p>
  <strong>Result:</strong>
  <%= @zeroes_computation.result %>
</p>

<%= link_to 'Edit', edit_zeroes_computation_path(@zeroes_computation) %> |
<%= link_to 'Back', zeroes_computations_path %>
