<%= form_with(model: computation) do |form| %>
  <% if computation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(computation.errors.count, "error") %> prohibited this computation from being saved:</h2>

      <ul>
        <% computation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :function %>
    <%= form.text_field :function %>
  </div>

  <div class="field">
    <%= form.label :expression %>
    <%= form.text_field :expression %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
