<p id="notice"><%= notice %></p>

<h1>Computations</h1>

<table>
  <thead>
    <tr>
      <th>Function</th>
      <th>Expression</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computations.each do |computation| %>
      <tr>
        <td><%= computation.function %></td>
        <td><%= computation.expression %></td>
        <td><%= link_to 'Show', computation %></td>
        <td><%= link_to 'Edit', edit_computation_path(computation) %></td>
        <td><%= link_to 'Destroy', computation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computation', new_computation_path %>
